{{> privateNav}}
{{> carousel}}
<div class="flex flex-wrap items-center justify-center mb-4 mt-4 px-2">
  {{#each genres}}
  <a href="/{{id}}" class=" w-1/6 rounded h-12 mb-2 mr-2 card orange-border-bottom">
    <div class="font-bold align-middle text-center">{{name}}</div>
  </a>
  {{/each}}
</div>