{{> privateNav}}
{{> carousel}}
<div class="center-content">
  <div class="flex flex-wrap mb-4 mt-4 px-2">
    {{#each genres}}
    <a href="/dashboard/games/{{id}}" class="rounded h-12 mb-2 card" style="width: 20%; margin: auto; display:block; ">
      <div class="font-bold text px-4">{{name}}</div>
    </a>
    {{/each}}
  </div>
</div>