{{> privateNav}}
{{> carousel}}
<div class="center-content">
    <div class="flex flex-wrap mb-4 mt-4 px-2">
        {{#each game}}
        <a class="rounded h-12 mb-2 card">
            <div class="font-bold text px-4">{{name}}</div>
            <p>{{summary}}</p>
        </a>
        {{/each}}
    </div>
</div>