<nav class="flex items-center justify-between flex-wrap p-3 dark-background-colour orange-border-bottom">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="/dashboard"><span class="font-semibold text-xl tracking-tight">EZ-Games</span></a>
  </div>
  <div class="block  right-0">
    <div id="userIcon" class="rounded-full h-10 w-10 flex items-center justify-center orange-background-colour">
      <div id="nav-items" class="rounded display-none red-border-bottom white-background-colour nav">
        <div class="silver-border-bottom nav-click">
          <a href="/profile">Profile</a>
        </div>
        <div class="silver-border-bottom">
          <a href="/recommendations">Recommendations</a>
        </div>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
  </div>
  </div>
</nav>