<nav class="flex items-center justify-between flex-wrap p-3 dark-background-colour orange-border-bottom">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="/dashboard"><span class="font-semibold text-xl tracking-tight">EZ-Games</span></a>
  </div>
  <div class="block lg:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path id="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block lg:flex lg:items-center lg:w-auto right-0">
    <div id="userIcon" class="rounded-full h-10 w-10 flex items-center justify-center orange-background-colour">
      <div id="nav-items" class="rounded display-none red-border-bottom white-background-colour nav">
        <div class="silver-border-bottom nav-click">
          <a href="/profile">Profile</a>
        </div>
        <div class="silver-border-bottom">
          <a href="/recommendations">Recommendations</a>
        </div>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
  </div>
  </div>
</nav>